.card .card-image {
display: block;
position: relative;
max-width: 400px;
max-height: 300px
}
th:empty {
  font-size: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}
.card{
  max-width: 400px;
}
table
{
  font-size: 16px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

table tr
{
	border-top:0px solid #ccc;
	background-color:#fffff;
	margin:0;
	padding:0;
}
